body{
    background-color:	white;
   color : Purple;
  

  } 
  h1
  {
    color: #00294d;
    color : Purple;
  }
  img
  {
    text-align : center;
    border: 10px solid #cccccc
   
  }
  .image
  {
    text-align:center;
     
  }
  
   /* Use background-color and text-align properties */
  p{
     background-color     :Yellow;
        text-align  : center;
  }
  